In [42]:
from sql_connection import AzureSQLDatabaseConnection

In [43]:
azure_sql_database_connection = AzureSQLDatabaseConnection(
    sql_server = "server-hotel",
    sql_db = "hotel",
    sql_username = "ctadmin",
    sql_pwd = "Hoteles123",
    driver = "{ODBC Driver 17 for SQL Server}"
)

In [28]:
disponibilidad = azure_sql_database_connection.run_query("SELECT * FROM disponibilidad")

In [29]:
habitaciones = azure_sql_database_connection.run_query("SELECT * FROM habitaciones")

In [33]:
habitaciones.columns

Index(['ID_Habitacion', 'Tipo_Habitacion', 'Descripcion', 'Link'], dtype='object')

In [34]:
disponibilidad.columns

Index(['ID_Habitacion', 'Tipo_Habitacion', 'Fecha_Entrada', 'Fecha_Salida',
       'Precio'],
      dtype='object')

In [39]:
azure_sql_database_connection.run_query("SELECT * FROM servicios_por_habitacion").columns

Index(['ID_Habitacion', 'ID_Servicio'], dtype='object')

In [49]:
azure_sql_database_connection.run_query(
    """
    SELECT habitaciones.ID_Habitacion, habitaciones.Tipo_Habitacion, habitaciones.Descripcion, habitaciones.Link, disponibilidad.Fecha_Entrada, disponibilidad.Fecha_Salida
    FROM habitaciones
    INNER JOIN disponibilidad ON habitaciones.ID_Habitacion = disponibilidad.ID_Habitacion
    WHERE disponibilidad.Fecha_Entrada <= '2023-11-04' AND disponibilidad.Fecha_Salida > '2023-11-04'
    """
)

,ID_Habitacion,Tipo_Habitacion,Descripcion,Link,Fecha_Entrada,Fecha_Salida
0,6,Junior Suite,LA HABITACIÓN PANORÁMICA. Su ubicación en la p...,https://www.hotelplayagolf.com/es/hotelplayago...,2023-11-02,2023-11-13

In [79]:
azure_sql_database_connection.run_query(
    """
    SELECT *
    FROM instalaciones
    """
)

,ID_Instalacion,Nombre_Instalacion,Descripcion,Horarios
0,1,Gimnasio,Para no perder las rutinas y complementar la a...,7:00-22:00
1,2,Piscina,Tenemos dos piscinas muy cerquita de la Playa ...,8:00-20:00
2,3,Restaurante,Un estupendo restaurante buffet les espera par...,"desayuno de 8:00-10:00, comida de 13:00-15:00 ..."
3,4,Spa,La combinación ideal de modernas instalaciones...,mañanas de 9:00-14:00 y tardes de 15:00-18:00

In [80]:
azure_sql_database_connection.run_query(
"""
SELECT *
FROM informacion_general
"""
)

,ID,Descripcion,Direccion,Contacto
0,1,DESCONEXIÓN MEDITERRÁNEA. UN REMANSO DE CALMA ...,"Carretera del Arenal, 45 Tel. 07600 Playa de P...",+34 971 262 650 o info@hotelplayagolf.com