In [42]:
from sql_connection import AzureSQLDatabaseConnection

In [43]:
azure_sql_database_connection = AzureSQLDatabaseConnection(
    sql_server = "server-hotel",
    sql_db = "hotel",
    sql_username = "ctadmin",
    sql_pwd = "Hoteles123",
    driver = "{ODBC Driver 17 for SQL Server}"
)

In [28]:
disponibilidad = azure_sql_database_connection.run_query("SELECT * FROM disponibilidad")

In [29]:
habitaciones = azure_sql_database_connection.run_query("SELECT * FROM habitaciones")

In [33]:
habitaciones.columns

Index(['ID_Habitacion', 'Tipo_Habitacion', 'Descripcion', 'Link'], dtype='object')

In [34]:
disponibilidad.columns

Index(['ID_Habitacion', 'Tipo_Habitacion', 'Fecha_Entrada', 'Fecha_Salida',
       'Precio'],
      dtype='object')

In [39]:
azure_sql_database_connection.run_query("SELECT * FROM servicios_por_habitacion").columns

Index(['ID_Habitacion', 'ID_Servicio'], dtype='object')

In [49]:
azure_sql_database_connection.run_query(
    """
    SELECT habitaciones.ID_Habitacion, habitaciones.Tipo_Habitacion, habitaciones.Descripcion, habitaciones.Link, disponibilidad.Fecha_Entrada, disponibilidad.Fecha_Salida
    FROM habitaciones
    INNER JOIN disponibilidad ON habitaciones.ID_Habitacion = disponibilidad.ID_Habitacion
    WHERE disponibilidad.Fecha_Entrada <= '2023-11-04' AND disponibilidad.Fecha_Salida > '2023-11-04'
    """
)

,ID_Habitacion,Tipo_Habitacion,Descripcion,Link,Fecha_Entrada,Fecha_Salida
0,6,Junior Suite,LA HABITACIÓN PANORÁMICA. Su ubicación en la p...,https://www.hotelplayagolf.com/es/hotelplayago...,2023-11-02,2023-11-13

In [73]:
azure_sql_database_connection.run_query(
    """
    SELECT Tipo_Habitacion, Link
    FROM habitaciones
    WHERE Tipo_Habitacion LIKE '%Mar%'
    """
)

            Tipo_Habitacion                                               Link
0   Doble Vista Mar Lateral  https://www.hotelplayagolf.com/es/hotelplayago...
1   Doble Vista Mar Frontal  https://www.hotelplayagolf.com/es/HotelPlayaGo...
2  Doble Superior Vista Mar  https://www.hotelplayagolf.com/es/hotelplayago...
3    Junior Suite Vista Mar  https://www.hotelplayagolf.com/es/hotelplayago...

In [76]:
azure_sql_database_connection.run_query(
"""
SELECT h.Tipo_Habitacion, h.Link, d.Precio, d.Fecha_Entrada, d.Fecha_Salida
FROM habitaciones h
INNER JOIN disponibilidad d ON h.ID_Habitacion = d.ID_Habitacion
WHERE h.Tipo_Habitacion LIKE '%Mar%'
AND d.Fecha_Entrada >= '2023-12-01' AND d.Fecha_Salida <= '2023-12-31'
"""
)

,Tipo_Habitacion,Link,Precio,Fecha_Entrada,Fecha_Salida
0,Doble Vista Mar Frontal,https://www.hotelplayagolf.com/es/HotelPlayaGo...,217€/noche,2023-12-23,2023-12-24
1,Doble Vista Mar Frontal,https://www.hotelplayagolf.com/es/HotelPlayaGo...,201€/noche,2023-12-05,2023-12-12
2,Doble Superior Vista Mar,https://www.hotelplayagolf.com/es/hotelplayago...,229€/noche,2023-12-16,2023-12-25
3,Junior Suite Vista Mar,https://www.hotelplayagolf.com/es/hotelplayago...,293€/noche,2023-12-24,2023-12-28
4,Doble Vista Mar Lateral,https://www.hotelplayagolf.com/es/hotelplayago...,208€/noche,2023-12-17,2023-12-24
5,Doble Vista Mar Lateral,https://www.hotelplayagolf.com/es/hotelplayago...,190€/noche,2023-12-17,2023-12-21
6,Doble Vista Mar Frontal,https://www.hotelplayagolf.com/es/HotelPlayaGo...,221€/noche,2023-12-19,2023-12-30
7,Doble Vista Mar Lateral,https://www.hotelplayagolf.com/es/hotelplayago...,194€/noche,2023-12-15,2023-12-27